{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Gastos{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">

    <label for="category">Categoria</label>
    <input name="category" id="category">{{ request.form['category'] }}</input>

    <label for="description">Descrição de gastos</label>
    <textarea name="description" id="description">{{ request.form['description'] }}</textarea>
    
    <label for="amount">R$</label>
    <input type="number" name="amount" id="amount">{{ request.form['amount'] }}</input>
    
    <label for="date">Data</label>
    <input name="date" id="date">{{ request.form['date'] }}</input>
    
    <input type="submit" value="Salvar">
  </form>
{% endblock %}