{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Despesas{% endblock %}</h1>
  {% if g.user %}
    <div class="dropdown">
      <button class="action" id="dropdown-button">
        <span class="material-symbols-outlined">add</span>
      </button>

      <div class="dropdown-content" id="dropdown-menu">
        <a href="{{ url_for('expenses.create') }}">
          <span class="material-symbols-outlined">payments</span>
          Nova despesa
        </a>

        <a href="{{ url_for('expenses.createcategory') }}">
          <span class="material-symbols-outlined">category</span>
          Nova categoria
        </a>

      </div>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% for expense in expenses %}
    <article class="post">

      <header>

        <div class="info">

            <div class="title-row">
                <h1>{{ expense['description'] }}</h1>

                <span class="category">
                    {{ expense['category_name'] }}
                </span>
            </div>

            <div class="about">
                {{ expense['date'] | date_format }}
            </div>

        </div>

        {% if g.user['id'] == expense['author_id'] %}

          <a class="action" href="{{ url_for('expenses.update', id=expense['id']) }}">

          <span class="material-symbols-outlined">edit</span>

          </a>
        {% endif %}

      </header>


      <p class="body">-R${{ expense['amount'] }}</p>

    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}