{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Gastos{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('expenses.create') }}">Nova</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for expense in expenses %}
    <article class="post">
      <header>
        <div>
          <h1>{{ expense['description'] }}</h1>
          <div class="about">by {{ expense['username'] }}</div>
        </div>
        {% if g.user['id'] == expense['author_id'] %}
          <a class="action" href="{{ url_for('expenses.update', id=expense['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ expense['amount'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}